*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* scrolling animation when user click reference */
html{
    scroll-behavior: smooth;
}
/* body background color */
body{
    background: #F5F5F5;
    color: black;
}




/* -------------- Header ----------------- */
/* background image in header */
/* #preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('images/background.jpg') no-repeat center center;
} */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Add a semi-transparent overlay */
#header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0; 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)); /* Adjust the opacity (0.5) as needed */
  }
#header .container{
    padding: 10px 10%; 
    z-index: 1;
}
.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}  
.profile-picture img{
    display: block;
    margin: 0;
    border: 4px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    /* filter: grayscale(100%) brightness(70%); */
}
.header-text{
    position: relative;
    z-index: 2;
}
/* Header styling */
.header-text h1 { 
    font-size: 100px;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif; /* Main heading uses Montserrat */
}
/* Subtitle styling */
.header-text p {
    font-size: 35px;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: 'Roboto', sans-serif; /* Subtitle uses Roboto */
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #header{
        width: 100%;
        height: 100vh;
    }
    #header::before {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)); /* Adjust the opacity (0.5) as needed */
    }
    .profile-picture img {
        margin-top: 25%;
        width: 150px;
        height: 150px;
    }
    .header-text{
        position: relative;
    }
    .header-text h1 {
        font-size: 60px;
    }
    .header-text p {
        margin-top: 5%;
        font-size: 24px;
    }
}


/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed; /* Set the position to fixed */
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    background: transparent; /* Initially transparent */
    z-index: 1000;
    transition: background 0.5s; /* Add a transition for smooth color change */
}
nav ul{
    margin-top: 1%;
    margin-left: 7%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* position in nav ul li a::after is absolute so we set this one as after  */
    position: relative;
}
/* add hover effect */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}


/* Responsive Menu Button */
/* Media Query for Smaller Screens */
nav .fa-solid{
    display: none;
}
@media (max-width: 768px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: white;
        z-index: 10;
        margin-top: 20px;
        margin-left: 30px;
        cursor: pointer;
    }
    nav ul{
        margin-left: 0;
        margin-top: 0;
        background: rgb(120, 167, 33);
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 20;
        transition: left 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 10px;
        left: 25px;
        margin-left: 0;
        cursor: pointer;
    }
}







/* -------------- About ----------------- */
#about {
    background: #F0F0F0;
}
#about .container{
    /* 10px up,down; 10% left,right  */
    padding: 5% 5%;
} 
#about .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .col-1{
    margin-top: 2.5%;
    flex-basis: 35%;
}
#about .col-1 img{
    margin-left: 7.5%;
    width: 80%;
    border-radius: 10%;
    border: 10px solid white;
}
#about .social-icons{
    margin-top: 10px;
    text-align: center;
}
#about .col-1 a:hover{
    color: rgb(134, 188, 37);
    transform: translateY(-5px);
    transition: 0.5s;
}
#about .col-1 a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 40px;
    color: #202020;
    display: inline-block;
}
#about .col-2{
    margin-top: 2.5%;
    flex-basis: 62.5%;
}
#about .col-2-sub-title{
    font-size: 30px;
    color: #303030;
}
#about .col-2-description{
    margin-top: 20px;
    /* font-weight: bold; */
    font-size: 20px;
    color: #303030;
}
#about p{
    margin-top: 20px;
    color: #303030;
}
#about .first-list{
    list-style-type: none;
    margin-top: 30px;
    color: #303030;
}
#about .first-item{
    font-weight: bold;
    margin-top: 10px;
}
#about .second-list li {
    color: #303030;
    margin-left: 20px; 
    list-style: disc; /* Use a filled black circle for bullet points */
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #about .col-1{
        flex-basis: 100%;
        padding: 0 20%;
        align-items: center;
    }
    #about .col-1 img{
        align-items: center;
        margin-left: 0%;
        margin-top: 15%;
        width: 100%;
        border-radius: 10%;
        border: 10px solid white;
    }
    #about .social-icons{
        margin-top: 10px;
        text-align: center;
        margin-left: 15px;
    }
    #about .col-2{
        flex-basis: 100%;
    }
    #about .col-2-sub-title{
        font-size: 30px;
        text-align: center;
    }
    #about .col-2-description{
        margin-top: 20px;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        color: #303030;
    }
}
  
/* -------------- Notes ----------------- */
#notes{
    background: #F0F0F0;
}
#notes .container{
    /* 10px up,down; 10% left,right  */
    padding: 100px 5%;
} 
.notes-list{
    padding: 0px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.notes-list div{
    background: rgb(218, 255, 149);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.notes-list div i{
    font-size: 45px;
    margin-bottom: 30px;
}
#notes + .container .sub-title {
    padding: 0 5%; 
}
.notes-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.notes-list div a{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.notes-list div:hover{
    background: rgb(112, 156, 29);
    color: white;
    transform: translateY(-10px);
}
.notes-list div:hover a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
.notes-list div a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: rgb(210, 255, 127);
}
/* Media Query for Smaller Screens */
/* @media (max-width: 768px) {
    #notes .container{
        padding-top: 20%;
    }
} */
@media (max-width: 768px) {
    #notes .container {
        padding-top: 17.5%; /* Reduce top padding */
        padding-bottom: 10%; /* Reduce bottom padding */
    }
    
    .notes-list {
        grid-template-columns: 1fr; /* Change to one column layout */
        grid-gap: 20px; /* Reduce the gap between notes sections */
        margin-top: 10px; /* Reduce bottom margin */
        margin-bottom: 10px; /* Reduce bottom margin */
    }
    
    .notes-list div {
        padding: 20px; /* Reduce padding inside the notes */
        font-size: 12px; /* Reduce font size */
    }

    .notes-list div i {
        font-size: 30px; /* Reduce the icon size */
        margin-bottom: 10px; /* Reduce margin below the icon */
    }

    .notes-list div h2 {
        font-size: 20px; /* Reduce heading font size */
        margin-bottom: 10px; /* Reduce margin below heading */
    }

    .notes-list div a {
        font-size: 10px; /* Reduce link font size */
        margin-top: 15px; /* Adjust margin for link */
    }

    #notes .container .sub-title {
        padding: 0 5%; 
    }
}

/* -------------- Contact ----------------- */
#contact{
    /* height: 100vh; */
    background-image: url(images/map4.jpg);
    background-size: cover;
}
#contact .container{
    /* padding: 120px 5%; */
    padding: 5% 5%;
} 
#contact .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#contact .contact-left{
    flex-basis: 45%;
}
.contact-left .sub-title{
    margin-top: 30px;
    font-size: 50px;
    color: whitesmoke;
}
.contact-left p{
    margin-top: 30px;
    color: whitesmoke;
}
.contact-left p i{
    color: whitesmoke;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: whitesmoke;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: rgb(134, 188, 37);
    transform: translateY(-5px);
}
.contact-left .btn.btn2{
    margin-top: 5%;
    padding: 15px 40px;
    display: inline-block;
    background: rgb(134, 188, 37);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
.btn.btn2:hover{
    background: rgb(91, 151, 0);
    transition: 0.25s;
}

#contact .contact-right{
    margin-top: 9%;
    flex-basis: 55%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: whitesmoke;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
.contact-right .btn.btn2{
    margin-top: 1%;
    padding: 15px 70px;
    display: inline-block;
    background: rgb(134, 188, 37);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
.contact-right .btn.btn2:hover{
    background: rgb(91, 151, 0);
    transition: 0.25s;
}
form .btn2{ 
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: whitesmoke;
    font-weight: 300;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #contact {
        background: #202020;
    }
    #contact .container {
        padding-top: 10%;
    } 
    #contact .contact-left{
        flex-basis: 100%;
    }
    #contact .contact-right{
        margin-top: 10px;
        flex-basis: 100%;
    }
    .contact-left .sub-title {
        font-size: 30px;
    }
    .contact-left p {
        font-size: 15px;
        display: flex; /* Add display flex */
        flex-wrap: wrap; /* Allow text to wrap */
        align-items: center; /* Center items vertically */
    }
    .contact-left p i {
        font-size: 15px;
    }
    .contact-left .btn.btn2 {
        margin-top: 7.5%;
        font-size: 14px;
    }
    form input {
        font-size: 14px;
        margin: 10px 0; /* Remove this line */
    }
    form textarea {
        height: 100px;
        font-size: 14px;
        margin: 10px 0; /* Remove this line */
    }
    .contact-right .btn.btn2 {
        padding: 13.5px 63px;
    }
    form .btn2 {
        font-size: 14px;
        text-align: center;
    }
    .copyright {
        font-size: 14px;
    }
}
